.default-404-content {
	.container {
		width: 1440px;
	}
}
.default-404-content {
	min-height: calc(100vh - var(--lakit-header-height, 0) - var(--lakit-header-height, 0) - var(--lakit-adminbar-height, 0));
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;
}
.default-404-content--content {
	align-self: center;
	h4 {
		font-size: 48px;
	}
	.button-wrapper {
		margin-top: 50px;
	}
	.button {
		text-transform: capitalize;
		padding: 15px 30px;
		line-height: 20px;
	}
}
.default-404-content--inner {
	width: 500px;
	max-width: 100%;
	color: $three-color;
	margin: auto;
}
@media (max-width: 1280px) {
	.default-404-content--content {
		h4 {
			font-size: 30px;
		}
		.button-wrapper {
			margin-top: 50px;
		}
		.button {
			padding: 15px 35px;
		}
	}
	.default-404-content--inner {
		font-size: 15px;
		width: 400px;
	}
}